## .NET
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.nupkg
*.snupkg
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
project.lock.json
project.fragment.lock.json
artifacts/
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vssx
*.tlog
*.unsuccessfulbuild
*.cache
*.ilk
*.bak
*.suo
*.ncrunch*

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

## NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Runtime screenshots
Screenshots/

## App logs
log.txt

## User settings override
appsettings.local.json
